<!-- Starts the OpenNI Kinect driver and sets up static transforms -->
<launch>
	<!-- Kinect driver -->
	
	<include file="$(find openni_launch)/launch/openni.launch" />
	
	<param name="/camera/driver/data_skip" value="10"/>
	<param name="/camera/driver/depth_ir_offset_x" value="0.8"/>
	<param name="/camera/driver/depth_ir_offset_y" value="23.6"/>
	
</launch>
